body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
    grid-template-areas: "lewo prawo";
}

#lewo{
    grid-area: lewo;
    display: flex;
    align-items:first baseline;
    justify-content:left;
}


#prawo{
    grid-area: prawo;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 50%;
  }
  
  