body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh;
    grid-template-areas: "gra";
   
}

#gra{
    grid-area: gra;
    display: flex;
    align-items: center;
    justify-content: center;

}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 5px;
    border-color: gray;
}
th{
    color: blue;
}
